@keyframes bounce {
    0%, 20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(0-10px);
    }
}

*{
    margin: 0;
}

body{
    text-align: center;
    /* background-color: #C0C0C0; */
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #632d34;
    font-family: arial;
}

.avatar:hover{
    border: 6px solid black;

    /* content: ''; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    background:  rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 2s ease;*/
}
/*
.avatar:hover:before{
    width: 100%;
}
*/
.avatar{
    width: 160px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 6px #868a91 solid;
    border-radius: 40px;
}

.titulo{
    color: #9a031e;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
}

.subtitulo{
    color: #2e020a;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
}

.texto{
    color: #080506;
    font-size: 18px;
    font-family: Arial, 'Times New Roman', Times, serif;
    font-weight: 500;
    /* font-style: italic; */
}

.botao{
    text-decoration: none;
    border: 2px solid black;
    display: inline-block;
    margin-top: 10px;
    width: 400px;
    color: black;
    line-height: 50px;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 50px;
    /* o Efeito, foi criado um @keyframe https://www.youtube.com/watch?v=_w57bWIPZKE*/ 
    cursor: pointer;
    transition: all 500ms ease;
}

.botao:hover{
    animation: bounce 1s;
}

.botao:hover{
    background-color: black;
    color: white
}

.imagensbotao{
    width: 15px;
    margin-top: 10px;
}